<div class="site-heading">
    @if(Context.String(BlogKeys.Description) != null)
    {
        <h1 style="font-weight: normal">@Context.String(BlogKeys.Description)</h1>
    }
    @if(Context.String(BlogKeys.Intro) != null)
    {            
        @if(Context.String(BlogKeys.Description) != null)
        {
            <img style="width:150px" src="/images/profile.jpg" title="Jason Newell">
        }
        <span class="subheading">@Context.String(BlogKeys.Intro)</span>

        <div class="social links">
            @Html.Partial("_SocialLinks")
        </div>
    }
</div>


