<a class="ui circular icon button" href="https://twitter.com/JasonNewellNET" title="Twitter">
  <i class="fa fa-twitter fa-fw fa-2x"></i>
</a>
<a class="ui circular icon button" href="https://github.com/jlnewell" title="GitHub">
  <i class="fa fa-github fa-fw fa-2x"></i>
</a>
<a class="ui circular icon button" href="https://www.youtube.com/jasonnewelldotnet" title="YouTube">
  <i class="fa fa-youtube fa-fw fa-2x"></i>
</a>
<a class="ui circular icon button" href="https://www.linkedin.com/in/jasonnewell" title="LinkedIn">
  <i class="fa fa-linkedin fa-fw fa-2x"></i>
</a>